{% extends "base.html" %}
{% block body %}
<div class="adduser">
    <form method="post" onsubmit="return true"  action="">
    {% raw xsrf_form_html() %}

        <div>邮　箱<input name="email" type="text" value="" required/></div>
        <div>姓名<input name="name" type="text" value="" required/></div>

        <div>
            {%if error%}
            	{{error}}
            {%else%}
            	</br>
            {%end%}
        <div class="btn fix">
            <input type="submit" class="modbtn1" value="下一步" />
        </div>
    </form>
</div>


{%end%}