{% extends "base.html" %}
{% block body %}
<div class="addteam">
    <form method="post" onsubmit="return true"  action="">
    {% raw xsrf_form_html() %}
        
            <span>小组</span><input name="team" type="text" value="" required/>
            <span>类型</span>
	            <select name = "type">  
			  		<option value =1>日报组</option>  
			  		<option value =2>周报组</option>   
				</select>
            <div>
            {%if error%}
            	{{error}}
            {%else%}
            	</br>
            {%end%}

            
            </div>

        <div class="btn fix">
            <input type="submit" class="modbtn1" value="提交" />
        </div>
    </form>
</div>


{%end%}