{% extends "base.html" %}
{% block body %}
<div class="adduser">
	邮箱:{{member.email}}
	<br>
	

	
    <form method="post" onsubmit="return true"  action="" >
    {% raw xsrf_form_html() %}
    	姓名:<input name="username" type="text" value="{{member.name}}" /><br>
		已添加小组:<br>
			{%if savedteams%}
				{%for team in savedteams%}
					{{team.teamname}}
					{%if team.teamid in dailyteamid%}
						（日报组）
					{%elif team.teamid in weeklyteamid%}
						（周报组）
					{%end%}
					<a href="/deletejoinedteam/{{member.id}}!@{{team.teamid}}">删除</a><br>
				{%end%}
				<br>
			{%else%}
				没有添加任何小组<br><br>
			{%end%}
    	请添加小组：<br>
        <div class="fix">
        	{%if teams%}
        		{%for i in teams%}
        			
		            <input name="teams" type="checkbox" value={{i.name}} /><label>{{i.name}}
		            {%if i.type ==1%}
		            	（日报组）
		            {%elif i.type ==2%}
		            	（周报组）
		            {%end%} </label> <br>
		        {%end%}
		    {%else%}
		    	你已添加所有小组
		    {%end%}
		    
        </div>
            {%if error%}
            	{{error}}
            {%else%}
            	</br>
            {%end%}
        <div class="btn fix">
            <input type="submit" class="modbtn1" value="完成"  />
        </div>
    </form>
</div>


{%end%}