{% extends "base.html" %}
{% block body %}
<div class="adduser">
	邮箱:{{email}}
	<br>
	

	
    <form method="post" onsubmit="return true"  action="" >
    {% raw xsrf_form_html() %}
    	姓名:<input name="username" type="text" value="{{name}}" /><br>
		已添加小组:<br>
			{%if savedteams%}
				{%for team in savedteams%}
					{{team.teamname}}<br>
				{%end%}
				<br>
			{%else%}
				没有添加任何小组<br><br>
			{%end%}
    	请添加小组：<br>
        <div class="fix">
        	{%if teams%}
        		{%for i in teams%}
        			
		            <input name="teams" type="checkbox" value={{i.name}} /><label>{{i.name}} </label> <br>
		        {%end%}
		    {%else%}
		    	你已添加所有小组
		    {%end%}
		    
        </div>
            {%if error%}
            	{{error}}
            {%else%}
            	</br>
            {%end%}
        <div class="btn fix">
            <input type="submit" class="modbtn1" value="完成"  />
        </div>
    </form>
</div>


{%end%}