<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<link href="{{ static_url("css/amscss.css") }}" rel="stylesheet" type="text/css" />  
	<title>AMS管理平台</title>
</head>
<div class="top"><p>AMS管理平台</p>
<div class="menu">
<a href="/login">登陆</a>


</div>

<body>
    <div id="container">
        <div id="main">
            <div id="bodytitle">
                <h2>欢迎使用AMD管理平台</h2>
            </div>
            <div id="content">
                {% block body %}{% end %}
            </div>
        </div>
        
        
		<footer>
            {% block footer %}
            {% end %}
        </footer>
    </div>
</body>
</html>