<html>
<head>
    <title>{% block pagetitle %}"博彦科技工作汇报系统"{% end %}</title>
    <link href="{{ static_url("css/css.css") }}" rel="stylesheet" type="text/css" />    
    <link href="{{ static_url("css/datetimepicker.css") }}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ static_url("js/jquery-1.11.1.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/base.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/utils.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/datetimepicker.js") }}"></script>
</head>
<body>
    <div id="container">
        <div id="main">
            <div id="content">
                {% block body %}{% end %}
            </div>
        </div>
        
        
		<footer>
            {% block footer %}
            {% end %}
        </footer>
    </div>

    </body>
</html>