{% extends "base.html" %}
{% block body %}
<div class="addteam">
		<a href="/addmember">添加成员</a><br><br>
        <table border="1">
		  <tr>
		    <th>id</th>
		    <th>邮箱</th>
		    <th>姓名</th>
		    <th>加入小组</th>
		    <th>操作</th>
		  </tr>
		  {%for i in members%}
		  <tr>
		    <td>{{i.id}}</td>
		    <td>{{i.email}}</td>
		    <td>{{i.name}}</td>
		    <td>
		    {%if i.teams.all()%}
		    	{%for t in i.teams.all()%}
		    		{{t.teamname}}
					{%if t.teamid in dailyteamid%}
						（日报组）<br>
					{%elif t.teamid in weeklyteamid%}
						（周报组）<br>
					{%end%}
		    	{%end%}
		    {%end%}
		    			    
		    </td>
		    <td><a href="/deletemember/{{i.id}}">删除</a>
		    <a href="/editmember/{{i.id}}">编辑</a>
		    </td>
		  </tr>
		  {%end%}
		</table>

</div>


{%end%}