{% extends "base.html" %}
{% block body %}
<div class="addteam">
		<a href="/addmember">添加成员</a><br><br>
        <table border="1">
		  <tr>
		    <th>id</th>
		    <th>邮箱</th>
		    <th>姓名</th>
		    <th>加入小组</th>
		    <th>操作</th>
		  </tr>
		  {%for i in members%}
		  <tr>
		    <td>{{i.get('id')}}</td>
		    <td>{{i.get('email')}}</td>
		    <td>{{i.get('name')}}</td>
		    <td>

	    	{%for t in i.get('teams')%}
	    		{{t.get('name')}}
				{%if t.get('type') ==1%}
					（日报组）<br>
				{%elif t.get('type') ==2%}
					（周报组）<br>
				{%end%}
	    	{%end%}

		    			    
		    </td>
		    <td><a href="/deletemember/{{i.get('id')}}">删除</a>
		    <a href="/editmember/{{i.get('id')}}">编辑</a>
		    </td>
		  </tr>
		  {%end%}
		</table>

</div>


{%end%}