{% extends "main.html" %}

{% block body %}

{% if not regist %}
<div class="header">
    <div class="backbtn"><a href="/login"><img src="{{ static_url("images/backbtn.gif") }}"></a></div>
    <div class="logo"><img src="{{ static_url("images/logo2.gif") }}"></div>
</div>
<div class="regist">
    <form method="post" onsubmit="return true"  action="/regist">
    {% raw xsrf_form_html() %}
        <ul>
            <li><span>邮　箱</span><input name="email" required="required" type="text" value="请输入邮箱"  /></li>
            <li><span>用户名</span><input name="username" required="required" type="text" value="请输入用户名" /></li>
            <li><span>密　码</span><input name="password" required="required" type="password" value="请输入登陆密码" /></li>
            <li><span>确认密码</span><input name="password_t" required="required" type="password" value="请输入登陆密码" /></li>
        </ul>
        {% if errormsg %}
    <div class="error_p">{{ errormsg }}</div>
{% end %}
        <div class="btn">
            <input type="submit" class="modbtn1" value="注　册" />
        </div>
    </form>
</div>

{% else %}

<div class="header">
    <div class="logo"><img src="{{ static_url("images/logo2.gif") }}"></div>
</div>
<div class="success">
    <h3><span>{{ username }}，</span>您已注册成功！</h3> 
    <div class="btn"><a class="modbtn1" href="/">进入使用</a></div>
</div>

{% end %}

{% end %}