{% extends "main.html" %}

{% block body %}

{% if not regist %}
<div class="header">
    <div class="backbtn"><a href="/login"><img src="{{ static_url("images/backbtn.gif") }}"></a></div>
    <div class="logo"><img src="{{ static_url("images/logo2.gif") }}"></div>
</div>
<div class="regist">
    <form method="post" name="login_form" action="" >
    <div><span>邮　箱</span></div>
    <div><input name="email" type="text" required /></div>
    <div><span>用户名</span></div>
    <div><input name="username" type="text" required /></div>
    <div><span>密　码</span></div>
    <div><input name="password" type="password"  required/></div>
    <div><span>确认密码</span></div>
    <div><input name="password_t" type="password" required /></div>

        <div class="btn">
            <input type="submit" class="modbtn1" value="注册" />
        </div>
    </form>
</div>
{% if errormsg %}
    <div class="error_p">{{ errormsg }}</div>
{% end %}
{% else %}

<div class="header">
    <div class="logo"><img src="{{ static_url("images/logo2.gif") }}"></div>
</div>
<div class="success">
    <h3><span>{{ username }}，</span>您已注册成功！</h3> 
    <div class="btn"><a class="modbtn1" href="/">进入使用</a></div>
</div>

{% end %}

{% end %}