<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<link href="{{ static_url("css/amscss.css") }}" rel="stylesheet" type="text/css" />  
	<title>AMS管理平台</title>
</head>
<div class="top"><p>AMS管理平台</p>
<div class="top"><a href='/login'>登陆</a>
<body>
<div class="regist">
<form method="post" onsubmit="return true"  action="/regist">
    {% raw xsrf_form_html() %}
        <ul>
            <li><span>邮　箱</span><input name="email" required="required" type="text" value=""  /></li>
            <li><span>用户名</span><input name="username" required="required" type="text" value="" /></li>
            <li><span>密　码</span><input name="password" required="required" type="password" value="" /></li>
            <li><span>确认密码</span><input name="password_t" required="required" type="password" value="" /></li>
        </ul>
        {% if errormsg %}
    <div class="error_p">{{ errormsg }}</div>
{% end %}
        <div class="btn">
            <input type="submit" class="modbtn1" value="注　册" />
        </div>
    </form>
</div>

    </body>
</html>
