{% extends "base.html" %}
{% block body %}
<div class="addteam">
<a href="/addteam">添加小组</a><br><br>
        <table border="1">
		  <tr>
		    <th>id</th>
		    <th>名称</th>
		    <th>类型</th>
		    <th>成员</th>
		    <th>操作</th>
		  </tr>
		  {%for i in teams%}
		  <tr>
		    <td>{{i.id}}</td>
		    <td>{{i.name}}</td>
		    <td>
		    {%if i.type==1%}
		    	日报组
		    {%else%}
		    	周报组
		    {%end%}
		    
		    <td>
		    {%for m in i.members.all()%}
		    	{{m.memberemail}} <a href="/viewreport/{{m.memberid}}!@{{m.teamid}}!@{{i.type}}">查看</a><br>
		    {%end%}
		    </td>
		    
		    
		    
		    
		    
		    </td>
		    <td><a href="/deleteteam/{{i.id}}">删除</a>
		    <a href="/editteam/{{i.id}}">编辑</a>
		    </td>
		  </tr>
		  {%end%}
		</table>

</div>


{%end%}